table, table tr th, table tr td {
    border: 1px solid black;
    min-height: 80px;
    min-width: 80px;
}

table {
    min-height: 25px;
    line-height: 25px;
    text-align: center;
    border-collapse: collapse;
}
.numtext{
    border: 0px;
    width: 80%;
    height: 100%;
    text-align: center;
    background: none;
    color: black;
}